instance_manager/misc/assume-role-output.json
azure_spot_prices.csv
azure_vm_sizes.csv
spot_prices.csv
response.json
total_spot_prices.csv
instance_manager/misc/rejuvenation_eval/misc/assume-role-output.json
*.pyc
.DS_Store

v2ray/client/manager/app
v2ray/client/manager/common
v2ray/client/manager/proxy
v2ray/client/manager/transport
v2ray/client/manager/*_pb2_grpc.py
v2ray/client/manager/*_pb2.py
v2ray/client/manager/*_pb2.pyi
